<style>
/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.Section_top {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    animation: change 0.5s infinite ease-in-out;
}

/* Dynamically generated keyframes */
@keyframes change {
    {% assign slides = site.static_files | where_exp: "file", "file.path contains 'Images/slideshow'" %}
    {% assign count = slides | size %}
    {% assign step = 100 | divided_by: count %}

    {% for image in slides %}
    {{ forloop.index0 | times: step }}% {
        background-image: url('{{ image.path }}');
    }
    {% endfor %}

    100% {
        background-image: url('{{ slides[0].path }}');
    }
}
</style>
