body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #000; /* black background for side borders */
}

.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* fit full height, maintain aspect ratio */
    text-align: center;
    justify-content: center;
    transition: background-image 1s ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 2; /* ensures content is above poster */
}

.content h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}

.content h1 span {
    color: #111;
}

.content a {
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover {
    background: #034e88;
    color: #fff;
}

