body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #000; /* black borders */
    cursor: pointer;  /* hint for click */
}

.Section_top {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* fit full height */
}


