body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #000; /* black borders */
}

.Section_top {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* full height, keep aspect ratio */
    text-align: center;
    transition: background-image 1s ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 2;
}

.content h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}

